<div>
  <button class="btn btn-danger ms-2" (click)="start()">Start</button>
</div>

<textarea [(ngModel)]="textAreaContent">
</textarea>

<div>
  {{ correct }}
</div>

<h1>Did not find track</h1>
<div *ngFor="let notFound of didNotFindTracks">
{{ notFound }}
</div>

<h1>Found track but needs to be verified</h1>
<div *ngFor="let unknown of foundTrackButDontKnowIfCorrect">
  {{ unknown.line }}: <a [href]="unknown.track?.externalUrl" target="_blank">link</a>
</div>

<h1>Incorrect tracks</h1>
<div *ngFor="let incorrect of foundTrackButIncorrect">
  {{ incorrect.line }}: <a [href]="incorrect.foundTrack.externalUrl">link</a>
</div>
