.picker-choice-card {
  cursor: pointer;
}

.picker-choice-card.selected {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.picker-choice-card .form-check-input {
  height: 1.5rem;
  width: 1.5rem;
}

.picker-choice-card:focus {
  box-shadow: var(--bs-box-shadow);
  outline: 0;
}
