<nav class="navbar navbar-expand navbar-dark bg-dark m-0 p-0 text-white">
  <div class="collapse navbar-collapse content mx-auto">
    <ul class="navbar-nav">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           class="list-group-item list-group-item-action">
          <div style="height: 40px;" class="w-100 d-flex align-items-center justify-content-center">
            <i class="fas fa-list"></i>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="help" routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <div class="w-100 h-100 d-flex align-items-center justify-content-center">
            <i class="fas fa-question"></i>
          </div>
        </a>
      </li>
      <li>
        <a class="list-group-item list-group-item-action" (click)="export()">
          <div class="w-100 h-100 d-flex align-items-center justify-content-center">
            <i class="fas fa-download"></i>
          </div>
        </a>
      </li>
      <li>
        <a class="list-group-item list-group-item-action" (click)="import()">
          <div class="w-100 h-100 d-flex align-items-center justify-content-center">
            <i class="fas fa-upload"></i>
          </div>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li>
        <div class="list-group navbar-nav ms-auto text-end">
          <span class="text-end version">v{{version}}</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
