<nav class="navbar navbar-expand navbar-dark m-0 p-0">
  <div class="collapse navbar-collapse content mx-auto">
    <div class="list-group text-left">
      <a routerLink="list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         class="list-group-item list-group-item-action">
        <div style="height: 40px;" class="w-100 d-flex align-items-center justify-content-center">
          <i class="fas fa-list"></i>
        </div>
      </a>
      <a routerLink="help" routerLinkActive="active"
         class="list-group-item list-group-item-action">
        <div class="w-100 h-100 d-flex align-items-center justify-content-center">
          <i class="fas fa-question"></i>
        </div>
      </a>
      <a routerLink="settings" routerLinkActive="active"
         class="list-group-item list-group-item-action">
        <div class="w-100 h-100 d-flex align-items-center justify-content-center">
          <i class="fas fa-cog"></i>
        </div>
      </a>
    </div>
  </div>
</nav>
