nav {
  background-color: #0D1B3E
}

@media (min-width: 1220px) {
  nav {
    padding-left: calc(100vw - 100%) !important;
  }
}

.content {
  height: 40px;
  width: 100%;
  padding: 0 40px;
  max-width: 1200px;
}

.list-group {
  display: inline-block;
  width: 100%;
}

.list-group-item {
  display: inline-block;
  width: 50px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 0;

}

.list-group-item-action:hover {
  background-color: rgba(0, 123, 255, 0.34) !important;
}

.list-group-item.active {
  background-color: #007bff !important;
}

a {
  color: white !important;
  text-align: center;
  padding: 0;
}
